@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@500&family=MonteCarlo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

[x-cloak]{
    display: none !important;
}

@font-face {
    font-family: 'signature';
    src: url('../fonts/signature.ttf');
}

@font-face {
    font-family: 'neon_tube';
    src: url('../fonts/neon_tube.otf');
}

@font-face {
    font-family: 'aamonoline';
    src: url('../fonts/neon/aamonoline.ttf');
}

@font-face {
    font-family: 'allison';
    src: url('../fonts/neon/allison.otf');
}

@font-face {
    font-family: 'always';
    src: url('../fonts/neon/always.otf');
}

@font-face {
    font-family: 'ananda';
    src: url('../fonts/neon/ananda.ttf');
}

@font-face {
    font-family: 'architex';
    src: url('../fonts/neon/architex.ttf');
}

@font-face {
    font-family: 'billionDreams';
    src: url('../fonts/neon/billionDreams.ttf');
}

@font-face {
    font-family: 'calasans';
    src: url('../fonts/neon/calasans.otf');
}

@font-face {
    font-family: 'fribash';
    src: url('../fonts/neon/fribash.otf');
}

@font-face {
    font-family: 'library';
    src: url('../fonts/neon/library.otf');
}

@font-face {
    font-family: 'magiera';
    src: url('../fonts/neon/magiera.ttf');
}

@font-face {
    font-family: 'nickainley';
    src: url('../fonts/neon/nickainley.otf');
}

@font-face {
    font-family: 'playhead';
    src: url('../fonts/neon/playhead.otf');
}

@font-face {
    font-family: 'playlist';
    src: url('../fonts/neon/playlist.otf');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/neon/roboto.ttf');
}

@font-face {
    font-family: 'simple';
    src: url('../fonts/neon/simple.otf');
}

@font-face {
    font-family: 'slender';
    src: url('../fonts/neon/slender.ttf');
}



.logo{
    font-family: 'neon_tube';
}

.allura {
    font-family: 'Allura', cursive;
}
.dancing {
    font-family: 'Dancing Script', cursive;
}
.montecarlo {
    font-family: 'MonteCarlo', cursive;
}
.aamonoline {
    font-family: 'aamonoline';
}
.allison {
    font-family: 'allison';
}
.always {
    font-family: 'always';
}
.ananda {
    font-family: 'ananda';
}
.architex {
    font-family: 'architex';
}
.billionDreams {
    font-family: 'billionDreams';
}
.calasans {
    font-family: 'calasans';
}
.fribash {
    font-family: 'fribash';
}
.library{
    font-family: 'library';
}
.magiera {
    font-family: 'magiera';
}
.nickainley {
    font-family: 'nickainley';
}
.playhead {
    font-family: 'playhead';
}
.playlist {
    font-family: 'playlist';
}
.roboto {
    font-family: 'roboto';
}
.simple {
    font-family: 'simple';
}
.slender {
    font-family: 'slender';
}
.signature {
    font-family: 'signature';
}