@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Epilogue:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@1,100&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allura&family=Dancing+Script:wght@500&family=MonteCarlo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Rubik', sans-serif;*/
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-light; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body{
    @apply bg-dark;
}

h1, h2, h3{
    font-family: 'Epilogue', sans-serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}
.rubik{
    font-family: 'Rubik', sans-serif;
}
.choose{
    font-family: 'Josefin Sans', sans-serif;
}

.p1{
    font-family: 'Montserrat', sans-serif;
}

nav a, nav .category{
    font-family: 'Abel', sans-serif;
    @apply text-lg font-medium;
}
.featured{
    font-family: 'Abel', sans-serif;
}

.container{
    font-family: 'Roboto Condensed', sans-serif;
}

[x-cloak]{
    display: none !important;
}

@font-face {
    font-family: 'signature';
    src: url('../fonts/signature.ttf');
}

@font-face {
    font-family: 'neon_tube';
    src: url('../fonts/neon_tube.otf');
}

@font-face {
    font-family: 'aamonoline';
    src: url('../fonts/neon/aamonoline.ttf');
}

@font-face {
    font-family: 'allison';
    src: url('../fonts/neon/allison.otf');
}

@font-face {
    font-family: 'always';
    src: url('../fonts/neon/always.otf');
}

@font-face {
    font-family: 'ananda';
    src: url('../fonts/neon/ananda.ttf');
}

@font-face {
    font-family: 'architex';
    src: url('../fonts/neon/architex.ttf');
}

@font-face {
    font-family: 'billionDreams';
    src: url('../fonts/neon/billionDreams.ttf');
}

@font-face {
    font-family: 'calasans';
    src: url('../fonts/neon/calasans.otf');
}

@font-face {
    font-family: 'fribash';
    src: url('../fonts/neon/fribash.otf');
}

@font-face {
    font-family: 'library';
    src: url('../fonts/neon/library.otf');
}

@font-face {
    font-family: 'magiera';
    src: url('../fonts/neon/magiera.ttf');
}

@font-face {
    font-family: 'nickainley';
    src: url('../fonts/neon/nickainley.otf');
}

@font-face {
    font-family: 'playhead';
    src: url('../fonts/neon/playhead.otf');
}

@font-face {
    font-family: 'playlist';
    src: url('../fonts/neon/playlist.otf');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/neon/roboto.ttf');
}

@font-face {
    font-family: 'simple';
    src: url('../fonts/neon/simple.otf');
}

@font-face {
    font-family: 'slender';
    src: url('../fonts/neon/slender.ttf');
}

.neonText{
    font-family: 'signature';
    text-shadow:
    0 0 7px #ff5500,
    0 0 7px #ff5500,
    0 0 22px #ff540066,
    0 0 22px #ff540066,
    0 0 22px #ff540066,
    0 0 22px #ff540066,
    0 0 22px #ff540066,
    0 0 22px #ff540066;
}

.input{
    @apply w-full mt-2 bg-dark rounded border border-gray-800 focus:border-main focus:ring-4 focus:ring-main-light text-base outline-none text-gray-300 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out mb-3;
}

.submit-btn{
    @apply py-3 text-center bg-gray-300 w-full text-gray-700 font-bold text-lg rounded-md flex items-center justify-center;
}

.success{
    @apply bg-green-600 bg-opacity-20 p-3 rounded-lg border text-green-400 text-center border-green-700 mb-2;
}

.failed{
    @apply text-red-600 border border-red-700 bg-red-600 bg-opacity-20 p-3 rounded-lg;
}

.error{
    @apply text-red-600 my-1;
}

.logo{
    font-family: 'neon_tube';
}

.allura {
    font-family: 'Allura', cursive;
}
.dancing {
    font-family: 'Dancing Script', cursive;
}
.montecarlo {
    font-family: 'MonteCarlo', cursive;
}
.aamonoline {
    font-family: 'aamonoline';
}
.allison {
    font-family: 'allison';
}
.always {
    font-family: 'always';
}
.ananda {
    font-family: 'ananda';
}
.architex {
    font-family: 'architex';
}
.billionDreams {
    font-family: 'billionDreams';
}
.calasans {
    font-family: 'calasans';
}
.fribash {
    font-family: 'fribash';
}
.library{
    font-family: 'library';
}
.magiera {
    font-family: 'magiera';
}
.nickainley {
    font-family: 'nickainley';
}
.playhead {
    font-family: 'playhead';
}
.playlist {
    font-family: 'playlist';
}
.roboto {
    font-family: 'roboto';
}
.simple {
    font-family: 'simple';
}
.slender {
    font-family: 'slender';
}
.signature {
    font-family: 'signature';
}

.main-body{
    @apply text-white;
}

.main-body p {
    @apply leading-7 mb-2;
}

.main-body h2, .main-body h3{
    @apply text-gray-200 font-bold mb-3;
}

.main-body h2{
    @apply text-3xl;
}

.main-body h3{
    @apply text-2xl;
}

.main-body p span{
    @apply bg-gray-600 p-3 rounded-lg;
}

#mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
  }