@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

@font-face {
    font-family: 'signature';
    src: url('../../public/assets/fonts/signature.ttf');
}

.neonText {
    @apply text-white;
    font-family: 'signature';
    text-shadow:
        0 0 7px #ff5500aa,
        0 0 7px #ff5500aa,
        0 0 22px #ff5500aa,
        0 0 22px #ff5500aa,
        0 0 22px #ff5500aa,
        0 0 22px #ff5500aa,
        0 0 22px #ff5500aa,
        0 0 22px #ff5500aa;
  }
